// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

strong {
  display: block;
}

#notice {
  color: green;
}

#alert {
  color: red;
}

.blue {
  color: #428bca;
  &:hover {
    color: darken(#428bca,15%);
  }
}

.green {
  color: green
}

.right {
  float: right;
}

.light {
  color: lighten(#333, 25%);
}

.no-style {
  list-style: none;
  padding: 0;
}

.li-underline {
  border-bottom: solid 1px #f3f3f3;
}

#admin-div {
  width: 100%;
  background-color: #f3f3f3;
  margin-top: 2em;
  border: solid 1px #333;;
  padding: 0.5em;
}

body {
  margin: 2em 0;
}
// ----------------------------------------- index styles
#index-div {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: asset-url("record-store.jpg");
  #darken {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
  }
  h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    color: white;
    z-index: 10;
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.my-nav {
  margin-top: 0.5em; // to even it out with bootstrap margin/padding top on columns
  ul {
    list-style: none;
    padding: 0;
  }
  a {
    color: inherit;
  }
  img {
    height: 1em;
    margin-left: 0.5em;
    margin-top: -0.15em;
  }
}

// ----------------------------------------- catalog styles

#records {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.record {
  width: 150px;
  height: 150px;
  display: flex;
  position: relative;
  margin-bottom: 1em;
  margin-right: 1em;

  // background image styles
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover figcaption {
    opacity: 1;
  }
  &:hover .record-darken {
    opacity: 1;
  }
  figcaption {
    font-size: 0.9em;
    opacity: 0;
    transition: all 0.25s;
    color: white;
    position: absolute;
    padding: 5px;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  .record-darken {
    transition: all 0.25s;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
  }
}

// ------------------------------------- record detail page styles

#record-detail-container {
  .row {
    .detail-img img {
      width: 100%;
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }
}



// ------------------------------------------------ form styles
input, textarea {
  display: block;
  &:focus {
outline: none;
  }
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  border: none;
  border-bottom: solid 1px #333;
  width: 100%;
}

input[type="submit"] {
  margin-top: 1em;
  background-color: white;
  border: solid 1px #333;
}

textarea {
  width: 100%;
  height: 150px;
  border: solid 1px #333;
  resize: none;
}

#image-upload-button {
  border: solid 1px #333;
  padding: 0.5em;
  display: inline;
  cursor: pointer;
}


















// end
